.b-photo-group {
  padding: 0 32px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.b-photo-group__item {
  float: left;
  margin: 4px;
  border: 1px solid #eee;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
}

.b-photo-group__year {
  font-family: 'DINPro-Regular';
  font-size: 40px;
  padding: 20px 0;
}
.b-photo-group__all-photo {
  position: absolute;
  width: 100%;
  height: 79px;
  background: url("/static/blocks/b-photo-group/all-photo.png") no-repeat top center;
  padding-top: 43px;
  color: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 15px;
  top: 50%;
  margin-top: -39px;
}
.b-photo-group__item_all_yes {
  border: solid 1px #e1e0de;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

.b-photo-group__photos {
  overflow: hidden;
  position: relative;
}

.b-photo-group__photos a {
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.b-photo-group__photos img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  border: 0;
}

.b-photo-group__all-photo-link {
  text-decoration: none;
  border: solid 1px #DBDBDA;
  border-radius: 10px;
}


.b-photo-group_profile_yes {
  padding: 0;
}