.b-comment-form-text {
  background: #fff;
  border: 1px solid #bfbcb5;
  -webkit-box-shadow: inset 0px 0px 5px 0px #dfcda2;
  box-shadow: inset 0px 0px 5px 0px #dfcda2;
  padding: 5px 8px;
  position: relative;
  margin-left: 70px;
}
.b-comment-form-textarea {
  width: 100%;
  height: 100%;
  min-height: 57px;
  border: none;
  background: none;
  resize: none;
  outline: none;
  font-size: 15px;
}
.b-comment-form-triangle {
  width: 17px;
  height: 17px;
  position: absolute;
  left: -11px;
  top: -1px;
  background: url("/static/blocks/b-photo/textarea-triangle.png") no-repeat 0 0;
}
.b-comment-form-field {
  position: relative;
  margin-top: 30px;
}
.b-comment-form-avatar {
  width: 40px;
  height: 40px;
  background: #d8d8d8;
  position: absolute;
  left: 0;
  top: 0;
}
.b-comment-form-button {
  border: none;
  background: none;
  background-image: linear-gradient(0deg, #857467 0%, #8B7D71 100%);
  box-shadow: inset 0px -1px 0px 0px rgba(32,6,0,0.50);
  font-size: 15px;
  color: #fff;
  text-align: center;
  outline: none;
  padding: 10px 21px;
  float: right;
}
.b-comment-form-button:active {
  padding-top: 11px;
  padding-bottom: 9px;
}
.b-comment-form-label {
  font-size: 15px;
  line-height: 39px;
}
.b-comment-form-checkbox {
  margin-right: 5px;
}
.b-comment-form-controls {
  margin-top: 10px;
  margin-left: 70px;
  overflow: hidden;
}
