.b-my-profile-exhibitions {
	margin-top: 20px;
	margin-bottom: 15px;
}

.b-my-profile-exhibitions__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 60px;
}

.b-my-profile-exhibitions__image {
	height: 150px;
}

.b-my-profile-exhibitions__exhibition {
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
}

.b-my-profile-exhibitions__exhibition-title {
	font-family: 'DINPro-Regular';
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 15px;
}

.b-my-profile-exhibitions__exhibition-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(-270deg, rgba(0,0,0,0.30) 0%, rgba(0,0,0,0.75) 67%);
}

.b-my-profile-exhibitions__add-exhibition {
	color: rgba(0,0,0,0.5);
	background: url("/static/blocks/b-my-profile-exhibitions/add-icon.png") no-repeat 185px 9px;
	padding-right: 43px;
	padding-left: 14px;
	padding-top: 11px;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	border: solid 1px #E5E5E5;
	margin-top: 20px;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.b-my-profile-exhibitions__add-exhibition:active {
	padding-top: 12px;
	padding-bottom: 9px;
}