.b-menu {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0 7%;
}
.b-menu__item {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin: 0 11px;
  color: #fff;
  text-decoration: none;
}
