.b-search-tags {
	background: #F2EFE7;
	border: solid 1px #C4C3BF;
	border-radius: 10px;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.b-search-tags__title {
	font-family: 'DINPro-Regular';
	font-size: 20px;
	line-height: 25px;
}

.b-search-tags__tags {
	padding: 15px 0;
}

.b-search-tags__tags-item {
	font-family: 'DINPro-Regular';
	font-size: 15px;
	line-height: 19px;
	color: #fff;
	border-radius: 2px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 10px;
	background: #968A7C;
	padding: 1px 3px;
	cursor: pointer;
}

.b-search-tags__tags-item-name {
	display: inline-block;
	vertical-align: top;
	padding: 0 2px;
	padding-bottom: 1px;
}

.b-search-tags__tags-item-num {
	display: inline-block;
	vertical-align: top;
}

.b-search-tags__all-tags {
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #787773;
	font-size: 15px;
}

.b-search-tags__tags-item-close {
	width: 19px;
	height: 19px;
	background: url("/static/blocks/b-search-tags/close.png") no-repeat center center;
	display: inline-block;
	vertical-align: top;
	display: none;
}

.b-search-tags__tags-item_current_yes {
	background: #000;
}

.b-search-tags__tags-item_current_yes .b-search-tags__tags-item-close {
	display: inline-block;
}

.b-search-tags__hidden_hide_yes {
	display: none;
}