.b-search-authors {
	background: #F2EFE7;
	border: solid 1px #C4C3BF;
	border-radius: 10px;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.b-search-authors__title {
	font-family: 'DINPro-Regular';
	font-size: 20px;
	line-height: 25px;
}

.b-search-authors__all-authors {
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #787773;
	font-size: 15px;
}

.b-search-authors__item {
	display: inline-block;
	vertical-align: top;
	color: #787773;
	font-size: 15px;
	padding-left: 24px;
	background: url("/static/blocks/b-search-authors/author-icon.png") no-repeat top left;
	margin-bottom: 20px;
	line-height: 20px;
	display: block;
  	text-decoration: none;
}

.b-search-authors__list {
	padding-top: 20px;
}


.b-search-authors__hidden_hide_yes {
	display: none;
}