.b-my-profile {
	padding: 0 32px;
	padding-top: 5px;
}

.b-my-profile__image {
	width: 300px;
	float: left;
	margin-right: 27px;
}

.b-my-profile__information {
	overflow: hidden;
}

.b-my-profile__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 60px;
}

.b-my-profile__main:after {
	clear: both;
	content: '';
	display: block;
}
