.b-main-slide {
  position: relative;
}

.b-main-slide__item {
  position: relative;
  float: left;
}
.b-main-slide__item_image_1 {
  width: 100%;
  height: 400px;
  background: url("/static/blocks/b-main-slide/image1.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b-main-slide__item_image_2 {
  width: 100%;
  height: 400px;
  background: url("/static/blocks/b-main-slide/image2.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b-main-slide__item_image_3 {
  width: 100%;
  height: 400px;
  background: url("/static/blocks/b-main-slide/image3.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b-main-slide__item-content-title {
  color: rgba(0,0,0,0.5);
  font-family: 'DINPro-Regular';
  font-size: 15px;
}
.b-main-slide__item-content-year {
  font-family: 'DINPro-Regular';
  font-size: 40px;
  margin-top: 15px;
}
.b-main-slide__item-content {
  width: 250px;
  position: absolute;
  right: 80px;
  top: 130px;
}
.b-main-slide__items {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.b-main-slide__items-wrapper {
  height: 400px;
}

.b-main-slide .bx-prev {
  top: 50%;
  left: 63px;
  position: absolute;
  margin-top: -33px;
  width: 25px;
  height: 67px;
  background: url("/static/blocks/b-main-slide/arrow-left.png") no-repeat 0 0;
  cursor: pointer;
  outline: none;
}

.b-main-slide .bx-next {
  top: 50%;
  right: 63px;
  position: absolute;
  margin-top: -33px;
  width: 25px;
  height: 67px;
  background: url("/static/blocks/b-main-slide/arrow-right.png") no-repeat 0 0;
  cursor: pointer;
  outline: none;
}

.b-main-slide .bx-prev.disabled, .b-main-slide .bx-next.disabled {
  display: none;
}