.b-my-profile-download {
	border: dashed 2px #D8D8D8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.b-my-profile-download__title {
	width: 630px;
	margin: auto;
	font-size: 15px;
	font-family: 'DINPro-Regular';
	padding-left: 37px;
	background: url("/static/blocks/b-my-profile-download/icon.png") no-repeat left center;
	padding-top: 23px;
	padding-bottom: 23px;
	line-height: 23px;
}

.b-my-profile-download__link {
	display: inline-block;
	vertical-align: top;
	color: #C9C9C9;
}