.b-my-profile-social {
	margin-top: 35px;
}

.b-my-profile-social__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 60px;
}

.b-my-profile-social__item-image {
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
}

.b-my-profile-social__item-desc {
	display: inline-block;
	vertical-align: top;
	padding-top: 6px;
}

.b-my-profile-social__item-name {
	font-family: 'DINPro-Regular';
	font-size: 20px;
}

.b-my-profile-social__item-edit {
	font-family: 'DINPro-Regular';
	font-size: 15px;
	color: #888888;
}

.b-my-profile-social__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
}

.b-my-profile-social__item_disable_yes {
	margin-right: 16px;
}
