.b-my-profile-about {
	position: relative;
}

.b-my-profile-about_hide_yes {
	display: none;
}

.b-my-profile-about__table {
	width: 100%;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

.b-my-profile-about__table td {
	padding-bottom: 10px;
}

.b-my-profile-about__row-name {
	width: 193px;
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
}

.b-my-profile-about__row-value {
	font-size: 15px;
	line-height: 20px;
}

.b-my-profile-about__about {
	background: #fff;
	border: 1px solid #D9D9D9;
	padding: 9px 11px;
	position: relative;
}

.b-my-profile-about__about-triangle {
	width: 17px;
	height: 17px;
	position: absolute;
	left: -12px;
	top: -1px;
	background: url("/static/blocks/b-my-profile-about/text-triangle.png") no-repeat 0 0;
}

.b-my-profile-about__about-text {
	height: 100%;
	font-size: 15px;
}

.b-my-profile-about__edit-link {
	display: inline-block;
	vertical-align: top;
	color: rgba(0,0,0,0.5);
	padding: 6px 0;
	font-size: 15px;
	text-decoration: none;
}

.b-my-profile-about__edit-pass {
	display: inline-block;
	vertical-align: top;
	color: rgba(0,0,0,0.5);
	padding: 6px 0;
	font-size: 15px;
	text-decoration: none;
}

.b-my-profile-about__links {
	width: 170px;
	position: absolute;
	top: -5px;
	right: 0;
	text-align: right;
}

.b-my-profile-about__links_hide_yes {
	display: none;
}