.b-sources-private__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.b-sources-private__image {
	width: 300px;
	float: left;
	margin-right: 27px;
}

.b-sources-private__info {
	overflow: hidden;
}

.b-sources-private__main:after {
	display: block;
	clear: both;
	content: '';
}

.b-sources-private__table {
	width: 100%;
}

.b-sources-private__table td {
	padding-bottom: 10px;
}

.b-sources-private__row-name {
	width: 150px;
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
	vertical-align: middle;
}

.b-sources-private__row-value {
	font-size: 15px;
	line-height: 20px;
}


.b-sources-private__photos-title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 40px;
}

.b-sources-private__container {
	padding-top: 90px;
}

.b-sources-private__social-item {
	margin-right: 19px;
	display: inline-block;
	vertical-align: top;
}

.b-sources-private__social-item-image {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}

.b-sources-private__social-item-name {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	line-height: 30px;
}