.b-timeline__block {
  margin: 10px 0;
}

.b-timeline__on-map-line {
  width: 100%;
  height: 1px;
  background: #c2c0bb;
}
.b-timeline__on-map-link {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  background: url("/static/blocks/b-timeline/map-icon.png") #fff no-repeat 8px 0;
  padding-left: 23px;
  margin-top: -9px;
  cursor: pointer;
  padding-right: 5px;
}
.b-timeline__on-map-link-text {
  opacity: 0.5;
}
.b-timeline__on-map {
  text-align: center;
}

.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  top: -37px;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

[disabled] .noUi-handle {
  cursor: not-allowed;
}

.b-timeline__year {
  color: #fff;
  text-align: center;
  line-height: 23px;
  position: absolute;
  top: 0;
  left: 0;
}

.b-timeline__slider {
  width: 960px;
  margin: auto;
}

.b-timeline__image {
  width: 960px;
  height: 38px;
  background: url("/static/blocks/b-timeline/timeline.png") no-repeat 0 0;
  margin: auto;
}

.b-timeline__dot {
  width: 19px;
  height: 20px;
  position: absolute;
  background: url("/static/blocks/b-timeline/timeline-dot.png") no-repeat 0 0;
}

.noUi-handle-lower .b-timeline__dot {
  bottom: -25px;
  right: -9px;
}

.noUi-handle-upper .b-timeline__dot {
  bottom: -25px;
  left: -9px;
}

.noUi-handle-lower .b-timeline__bg {
  width: 44px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("/static/blocks/b-timeline/timeline-left.png") no-repeat 0 0;
}

.noUi-handle-upper .b-timeline__bg {
  width: 44px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("/static/blocks/b-timeline/timeline-right.png") no-repeat 0 0;
}

.b-timeline__year-text {
  width: 44px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.noUi-handle-lower .b-timeline__year {
  left: -44px;
}

.noUi-base {
  height: 1px;
  background: #989898;
}

.noUi-connect {
  background: #E40039;
}

.noUi-background {
  background: inherit;
}

.b-timeline__years {
  width: 995px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 28px;
}

.b-timeline__years-item {
  width: 63px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
}

.b-timeline__years-item_big_yes {
  font-size: 13px;
}
