.b-sources-gov__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.b-sources-gov__image {
	width: 300px;
	float: left;
	margin-right: 27px;
}

.b-sources-gov__info {
	overflow: hidden;
}

.b-sources-gov__main:after {
	display: block;
	clear: both;
	content: '';
}

.b-sources-gov__table {
	width: 100%;
}

.b-sources-gov__table td {
	padding-bottom: 10px;
}

.b-sources-gov__table__row-name {
	width: 150px;
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
	vertical-align: middle;
}

.b-sources-gov__table__row-value {
	font-size: 15px;
	line-height: 20px;
}

.b-sources-gov__photos-title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	line-height: 40px;
}

.b-sources-gov__container {
	padding-top: 90px;
}
