.b-my-profile-form {
	display: none;
}

.b-my-profile-form_show_yes {
	display: block;
}

.b-my-profile-form__table {
	width: 100%;
}

.b-my-profile-form__table td {
	padding-bottom: 10px;
}

.b-my-profile-form__table td.b-my-profile-form__row-value_username_yes {
	padding-bottom: 0;
}

.b-my-profile-form__row-name {
	width: 193px;
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
	vertical-align: middle;
}

.b-my-profile-form__row-value {
	font-size: 15px;
	line-height: 20px;
}

.b-my-profile-form__about {
	background: #fff;
	border: 1px solid #bfbcb5;
	-webkit-box-shadow: inset 0px 0px 5px 0px #dfcda2;
	box-shadow: inset 0px 0px 5px 0px #dfcda2;
	padding: 7px 10px;
	position: relative;
}
.b-my-profile-form__about-textarea {
	width: 100%;
	height: 100%;
	min-height: 57px;
	border: none;
	background: none;
	resize: none;
	outline: none;
	font-size: 15px;
}
.b-my-profile-form__about-triangle {
	width: 17px;
	height: 17px;
	position: absolute;
	left: -11px;
	top: -1px;
	background: url("/static/blocks/b-my-profile-form/textarea-triangle.png") no-repeat 0 0;
}

.b-my-profile-form__input-text {
	width: 230px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border: solid 1px #D9D9D9;
	outline: none;
}

.b-my-profile-form__input-text_name1 {
	width: 130px;
	margin-right: 7px;
	margin-bottom: 10px;
}

.b-my-profile-form__input-text_name2 {
	width: 130px;
	margin-right: 7px;
	margin-bottom: 10px;
}

.b-my-profile-form__input-text_name3 {
	width: 130px;
	margin-bottom: 10px;
}

.b-my-profile-form__row-name_about_yes {
	vertical-align: top;
}

.b-my-profile-form__save-button {
	border: none;
	background: none;
	background-image: linear-gradient(0deg, #857467 0%, #8B7D71 100%);
	box-shadow: inset 0px -1px 0px 0px rgba(32,6,0,0.50);
	font-size: 15px;
	color: #fff;
	text-align: center;
	outline: none;
	padding: 10px 21px;
	position: relative;
	vertical-align: top;
}

.b-my-profile-form__save-button:active {
	padding-top: 11px;
	padding-bottom: 9px;
}

.b-my-profile-form__no-save-button {
	border: none;
	background: none;
	outline: none;
	padding: 10px 0;
	margin-left: 10px;
	font-size: 15px;
	color: #A7A7A7;
	position: relative;
	vertical-align: top;
}

.b-my-profile-form__no-save-button:active {
	top: 1px;
}

.b-my-profile-form__controls {
	height: 40px;
	padding-left: 193px;
}
