.b-auth {
  position: fixed;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
    z-index: 101;
}
.b-auth__title {
  font-family: 'DINPro-Regular';
  font-size: 30px;
  line-height: 40px;
}
.b-auth__desc {
  width: 320px;
  font-size: 15px;
  text-align: left;
  margin: auto;
  margin-top: 15px;
}
.b-auth__field {
  margin: 15px 0;
}
.b-auth__field-title {
  font-size: 15px;
  margin-bottom: 5px;
}
.b-auth__text-input {
  width: 300px;
  height: 40px;
  background: rgba(255,255,255,0.75);
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 10px;
  font-size: 15px;
}
.b-auth__text-input:focus {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px 0px #b9b09b;
  box-shadow: inset 0px 0px 5px 0px #b9b09b;
}
.b-auth__button {
  color: #fff;
  background-image: linear-gradient(0deg, #857467 0%, #8B7D71 100%);
  box-shadow: inset 0px -1px 0px 0px rgba(32,6,0,0.50);
  font-size: 15px;
  border: none;
  padding: 10px 70px;
  outline: none;
}
.b-auth__button:active {
  padding-top: 11px;
  padding-bottom: 9px;
}
.b-auth__link {
  font-size: 15px;
  color: #7d7b76;
}
.b-auth__or-block {
  width: 320px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
.b-auth__or-line1 {
  position: absolute;
  width: 140px;
  height: 2px;
  background: #c5c2ba;
  top: 8px;
  left: 0;
  opacity: 0.5;
}
.b-auth__or-line2 {
  position: absolute;
  width: 140px;
  height: 2px;
  background: #c5c2ba;
  top: 8px;
  right: 0;
  opacity: 0.5;
}
.b-auth__or-text {
  font-size: 13px;
  color: #b2afa7;
  font-style: italic;
}
.b-auth__button-container {
  margin: 25px 0;
}
.b-auth__links {
  text-align: center;
}
.b-auth__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  text-decoration: none;
}
.b-auth__social-link {
  width: 51px;
  height: 51px;
  display: inline-block;
  vertical-align: top;
  background-image: url("/static/blocks/b-auth/socials.png");
  background-repeat: no-repeat;
  margin: 0 8px;
  outline: none;
}
.b-auth__social-ya {
  background-position: 0 0;
}
.b-auth__social-tw {
  background-position: -51px 0;
}
.b-auth__social-g {
  background-position: -102px 0;
}
.b-auth__social-fb {
  background-position: -153px 0;
}
.b-auth__social-vk {
  background-position: -204px 0;
}
.b-auth__close {
  width: 24px;
  height: 24px;
  background: url("/static/blocks/b-auth/close.png") no-repeat;
  cursor: pointer;
  position: absolute;
  right: -70px;
  top: -30px;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.b-auth__close:hover {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.b-auth_show_yes {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-height: 750px) {
  .b-auth {
    top: 375px;
  }
}

@media screen and (min-height: 750px) {
  .b-auth {
    top: 50%;
  }
}



