html {
  height: 100%;
}
.b-body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  min-width: 940px;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.b-body__content {
  /*
  background: #EEEAE0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEAE0', endColorstr='#FFFFFF');
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEAE0), to(#FFFFFF));
  background: -moz-linear-gradient(top,  #EEEAE0,  #FFFFFF);
  */
}

.b-body__content_blurred_yes {
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.b-body__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(237,233,223,0.9);
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  z-index: 100;
}
.b-body__overlay_show_yes {
  opacity: 1;
  visibility: visible;
}
