.b-top-search {
  position: relative;
}
.b-top-search__field {
  width: 100%;
}
.b-top-search__field-text {
  width: 100%;
  border: solid 1px #d4d3d2;
  background: #fff;
  height: 41px;
  font-size: 18px;
  line-height: 40px;
  outline: none;
  padding-left: 30px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-top-search__icon {
  width: 17px;
  height: 16px;
  background: url("/static/blocks/b-top-search/search-icon.png") no-repeat center center;
  position: absolute;
  top: 13px;
  left: 9px;
}
.b-top-search__button {
  width: 82px;
  height: 41px;
  border: none;
  position: absolute;
  top: 0;
  right: -1px;
  color: rgba(255,255,255,0.75);
  line-height: 37px;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: 'DINPro-Regular';
  background-image: linear-gradient(0deg, #857467 0%, #8B7D71 100%);
  box-shadow: inset 0px -1px 0px 0px rgba(32,6,0,0.50);
}
.b-top-search__button:active {
  line-height: 39px;
}
.b-top-search__addition {
  font-size: 15px;
  padding: 15px 0;
}
.b-top-search__addition:after {
  clear: both;
  display: block;
  content: '';
}
.b-top-search__addition-example {
  float: left;
}
.b-top-search__example-query {
  opacity: 0.5;
  cursor: pointer;
}
.b-top-search__addition-extended {
  float: right;
  opacity: 0.5;
}

.b-top-search__select {
  outline: none;
}
.b-top-search__table {
  width: 100%;
}
.b-top-search__table-column1 {
  padding-right: 20px;
}
.b-top-search__table-column2 {
  width: 200px;
  padding-right: 20px;
}
.b-top-search__table-column3 {
  width: 200px;
  padding-right: 103px;
}

.b-top-search__selector .selectize-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 11px 8px;
  padding-bottom: 10px;
  font-size: 15px;
}

.b-top-search__selector .selectize-input.input-active {
  margin-bottom: -2px!important;
}

.b-top-search__selector .selectize-input.input-active > .item {
  position: relative;
  top: -1px;
}

.b-top-search__selector .selectize-dropdown .active {
  background: #eee;
  color: #000;
}

.b-top-search__selector .selectize-input input {
  font-size: 15px;
  position: absolute;
}

.b-top-search__select.single .selectize-input {
  height: 41px;
}

.b-top-search__addition-extended {
  display: none;
  cursor: pointer;
}

.b-top-search_min_yes .b-top-search__table-column1 {
  padding-right: 80px;
}

.b-top-search_min_yes .b-top-search__table-column2 {
  display: none;
}

.b-top-search_min_yes .b-top-search__table-column3 {
  display: none;
}

.b-top-search_min_yes .b-top-search__addition-extended {
  display: block;
}

.b-top-search__selector .selectize-input .item {
  height: 20px;
  overflow: hidden;
}
