{% if not user.username %}
    Вы не авторизовались. Пожалуйста, войдите в систему <a href="/login/">Зарегистрироваться или Войти</a>
{% else %}
    <a href="/">Главная</a> 
    Вы авторизовались как: <a href="/profile/">{{user.first_name}} {{user.last_name}}({{user.username}})<img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/static/blocks/b-my-profile/example.png{% endif %}" height="25px"></a>&nbsp;<a href="/logout/">выйти</a><br />
    <br />
{% endif%}