.b-photo__relatives {
  width: 100%;
  height: 90px;
  background: rgba(0,0,0,0.75);
  text-align: center;
}
.b-photo__back-to-search {
  font-family: 'DINPro-Regular';
  font-size: 15px;
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  top: 5px;
}
.b-photo__relatives-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 3px;
}
.b-photo__relatives-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 20px;
}
.b-photo__back-to-search {
  width: 100px;
  position: absolute;
  left: -90px;
  text-align: left;
}
.b-photo__list-item {
  max-width: 770px;
  margin: auto;
  position: relative;
  text-align: center;
}
.b-photo__list-item img {
  max-width: 770px;
}
.b-photo__list {
  overflow: hidden;
}
.b-photo__left {
  width: 150px;
  height: 100%;
  background: url("/static/blocks/b-photo/photo-arrow-left.png") no-repeat center center;
  position: absolute;
  top: 0;
  left: -150px;
  cursor: pointer;
}
.b-photo__right {
  width: 150px;
  height: 100%;
  background: url("/static/blocks/b-photo/photo-arrow-right.png") no-repeat center center;
  position: absolute;
  top: 0;
  right: -150px;
  cursor: pointer;
}
.b-photo__content {
  padding: 40px 30px;
  background: #fff;
}
.b-photo__content-decription {
  overflow: hidden;
}
.b-photo__content-info {
  width: 350px;
  float: right;
  padding-top: 14px;
  margin-left: 50px;
}
.b-photo__content:after {
  content: '';
  display: block;
  clear: both;
}
.b-photo__meta-info:after {
  content: '';
  display: block;
  clear: both;
}
.b-photo__meta-info {
  padding: 20px 0;
}
.b-photo__title {
  font-family: 'DINPro-Regular';
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
.b-photo__meta-info-author {
  float: left;
  font-family: 'DINPro-Regular';
  font-size: 15px;
  opacity: 0.5;
  color: #000;
}
.b-photo__meta-info-years {
  float: right;
  font-family: 'DINPro-Regular';
  font-size: 15px;
  opacity: 0.5;
  color: #000;
}