.b-search-result {
	overflow: hidden;
	position: relative;
}

.b-search-result__item {
	position: absolute;
	display: inline-block;
	overflow: hidden;
}

.b-search-result__item img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	border: 0;
}

.b-search-result__item-desc {
	display: none;
}