.b-sources {
	padding: 0 32px;
}

.b-sources__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	margin: 40px 0;
	margin-bottom: 20px;
}

.b-sources__government-sources-title {
	display: inline-block;
	vertical-align: top;
	font-family: 'DINPro-Regular';
	font-size: 20px;
	line-height: 20px;
	margin: 18px 0;
	padding-right: 22px;
	background: url("/static/blocks/b-sources/government-icon.png") no-repeat right center;
}

.b-sources__private-sources-title {
	display: inline-block;
	vertical-align: top;
	font-family: 'DINPro-Regular';
	font-size: 20px;
	line-height: 18px;
	margin: 18px 0;
	padding-right: 22px;
	padding-bottom: 2px;
	background: url("/static/blocks/b-sources/private-icon.png") no-repeat right center;
}

.b-sources__list {
	width: 100%;
	margin-bottom: 50px;
}

.b-sources__list-item {
	width: 46%;
	color: #C3C3C3;
	font-size: 15px;
	line-height: 19px;
	margin: 8px 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 2%;
}
