.b-search-sources {
	background: #F2EFE7;
	border: solid 1px #C4C3BF;
	border-radius: 10px;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.b-search-sources__title {
	font-family: 'DINPro-Regular';
	font-size: 20px;
	line-height: 25px;
}

.b-search-sources__all-sources {
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #787773;
	font-size: 15px;
}

.b-search-sources__item {
	color: #787773;
	font-size: 15px;
	padding-left: 24px;
	background: url("/static/blocks/b-search-sources/museum-icon.png") no-repeat top left;
	margin-bottom: 20px;
	line-height: 20px;
}

.b-search-sources__list {
	padding-top: 20px;
}
