.b-page {
  font-family: 'PT Sans', sans-serif;
}

.b-page__wrapper {
	padding: 0 32px;
	margin: auto;
}

.b-page__main {
	overflow: hidden;
	margin-bottom: 30px;
}

.b-page__sidebar {
	width: 350px;
	float: right;
	margin-left: 20px;
	margin-bottom: 30px;
}

