{% load pipeline  %}<!DOCTYPE html>
<html lang="ru">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Фото истории</title>
	<meta name="keywords" content="{FIXME}">
	<meta name="description" content="{FIXME}">
	<meta name="viewport" content="width=device-width">
	<link href="html/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="html/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<div>
		{% include 'blocks/messages.html' %}
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>
