{% extends 'base.html' %}

{% block content %}

    {% include 'blocks/header.html' %}
    {% if user.username %}
        Упражнения тренера <strong>{{ trainer.family_name }}, {{ trainer.name }}</strong>. День <strong>{{ day }}</strong><br />
        {% if exercises %}
            {% for exercise in exercises %}
                {{ exercise.title }}. Ссылка на видео <a href="{{ exercise.video_url }}">ссылка</a>. Рекомендовано: подходов {{ exercise.prescription_sets }}, повторений в подходе {{ exercise.prescription_repetitions }}. Выполняя рекомендации вы будете сжигать {{ exercise.repetition_calories_burned }} калорий за повтор <a href="{% url 'progress:progress_exercise' exercise.id %}">Ввести прогресс упражнения</a><br />
            {% endfor %}
        {% endif %}
        <a href="{{ videos.before }}">вставка до</a><br />
        <a href="{{ videos.after }}">вставка после</a><br />
    {% endif%}

{% endblock %}