{% extends 'base.html' %}

{% block content %}

    {% include 'blocks/header.html' %}
    {% if user.username %}
        {% if trainers %}
            {% for trainer in trainers %}
                {{ trainer.family_name }}, {{ trainer.name }} <a href='{% url "exercises:exercises" trainer.id %}'>Упражнения</a>, <a href='{% url "diets:diet_today" %}'>Диеты</a><br />
            {% endfor %}
        {% endif %}
    {% endif%}

{% endblock %}