{% extends 'base.html' %}

{% block content %}

    <article>
        <h2 class="entry-title">
            Пожалуйста авторизуйтесь
        </h2>

        <form method="POST" action='.'>{% csrf_token %}
            <input type="username" value="" name="username" class="" placeholder="Учётная запись">
            <input type="password" value="" name="password" class="" placeholder="Пароль">
            <input type="submit" value="Войти" name="subscribe">
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="social">
                <a href="{% url 'social:begin' 'facebook' %}">fb</a>
                <a href="{% url 'social:begin' 'odnoklassniki-oauth2' %}">ok</a>
                <a href="{% url 'social:begin' 'vk-oauth2' %}">vk</a>
            </div>
        </form>

        <hr />
        <a href="/registration/">Зарегистрироваться</a><br />
        <a href="/password/reset/">Забыли пароль?</a>
        
    </article>


{% endblock %}
