{% extends 'base.html' %}

{% block content %}

    <div>
        <a href="/">Главная</a>
    </div>
    <div class="profile">
        <div>
            <div>Мой профиль</div>
            <div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                аватар<br />
                                <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/static/blocks/b-my-profile/example.png{% endif %}" height="150px"><br />
                                {{ form.avatar }}
                            </td>
                        </tr>
                        <tr>
                            <td>Эл. почта</td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td>Фамилия</td>
                            <td>{{ form.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Имя</td>
                            <td><input type="text" maxlength="255" name="first_name" value="{{ user.first_name }}" placeholder="при желании можно имя ввести с отчеством"></td>
                        </tr>
                        <tr>
                            <td>Пол</td>
                            <td>
                            <p><input list="sex" name="sex" value="{{ user.sex }}"></p>
                               <datalist id="sex">
                                <option value='m'>мужской</option>
                                <option value='f'>женский</option>
                               </datalist>
                           </td>
                        </tr>
                        <tr>
                            <td>Возраст</td>
                            <td>{{ form.age }}</td>
                        </tr>
                        <tr>
                            <td>Город</td>
                            <td>{{ form.city }}</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>{{ form.weight }}</td>
                        </tr>
                        <tr>
                            <td>Рост</td>
                            <td>{{ form.growth }}</td>
                        </tr>
                    </tbody></table>
                    <div>
                        <button type="submit">Сохранить</button>
                        <button type="reset">Сбросить</button>
                    </div>
                </form>
            </div>

        </div>


    </div>

{% endblock %}