{% extends 'base.html' %}

{% block content %}

    {% include 'blocks/header.html' %}
    Введите результаты выполнения упражнения: <br />
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>подходов</td>
                <td>{{form.sets}}</td>
            </tr>
            <tr>
                <td>повторов</td>
                <td>{{form.repetitions}}</td>
            </tr>
        </table>
        <div>
            <button type="submit">Сохранить</button>
            <button type="reset">Сбросить</button>
        </div>
    </form>

{% endblock %}