{% extends 'base.html' %}

{% block content %}

<article >
    <form  enctype="multipart/form-data" method="post">
        {% csrf_token %}
      <fieldset>
        <h2>
            Спасибо за регистрацию
        </h2>
        <p>В ближайшее время на указанный Вами почтовый ящик придёт письмо со ссылкой для активации.</p>
      </fieldset>
    </form>
</article>
{% endblock %}
