{% extends 'base.html' %}

{% block content %}

<article>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
      <fieldset>
        <h2>
            Регистрация
        </h2>

          <label for="input01">Имя</label>
          <div class="controls">
            <input type="text" name="first_name" id="input01" value="{{ form.first_name.value|default:''  }}">
          </div>
          {{ form.first_name.errors }}

          <label for="input01">Фамилия</label>
          <div class="controls">
            <input type="text" name="last_name" id="input01" value="{{ form.last_name.value|default:'' }}">
          </div>
          {{ form.last_name.errors }}

          <label for="input01">Email</label>
          <div class="controls">
            <div class="input-group">
              <input type="text" name="email" id="input01" value="{{ form.email.value|default:'' }}">
            </div>
          </div>
          {{ form.email.errors }}

          <label for="input01">Пароль</label>
          <div class="controls">
            <input type="password" name="password" id="input01" value="{{ form.password.value|default:'' }}">
          </div>
          {{ form.password.errors }}

        <br />
        
        <div>
          <button type="submit">Зарегистрироваться</button>
          {# <button>Отмена</button> #}
        </div>
        
      </fieldset>
    </form>
</article>
{% endblock %}
