{% extends 'base.html' %}

{% block content %}

<article >
    <form  enctype="multipart/form-data" method="post">
        {% csrf_token %}
      <fieldset>
        <h2>
            Выслать новый пароль
        </h2>
        <p>Введите почтовый ящик который вы использовали для регистрации в системе.</p>
        <input type="text" maxlength="75" name="email" value="" placeholder="введите регистрационный email">
        <button type="submit">Выслать</button>
      </fieldset>
    </form>
</article>
{% endblock %}
