.b-comments {
  border-top: solid 2px #e5e5e5;
}
.b-comments-num {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
}
.b-comments-item {
  position: relative;
  margin-bottom: 20px;
}
.b-comments-item-image {
  position: absolute;
  left: 0;
  top: 0;
}
.b-comments-item-text {
  margin-left: 60px;
}
.b-comments-author {
  font-size: 15px;
  color: #929292;
}
.b-comments-item-name {
  color: #929292;
}
.b-comments-time {
  font-size: 13px;
  font-style: italic;
  color: #b2afa7;
  padding-left: 3px;
}
.b-comments-item-comment {
  font-size: 15px;
  line-height: 20px;
}
.b-photo__content-info-row-title {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.b-photo__content-info-row-text {
  font-size: 15px;
  color: #929292;
  line-height: 19px;
}
.b-photo__content-info-row {
  margin-bottom: 30px;
}
